@import "./src/main";

.selectWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px 0 34px 0;

  .select {
    width: 100%;
    @include input;
    color: $innerTextColor;
    position: relative;

    .icon {
      position: absolute;
      display: inline-block;
      left: calc(100% - 30px - 11px);
      top: calc(52px / 2 - 30px / 2)
    }

    .option {
      position: absolute;
      top: calc(52px + 4px);
      left: 0;
      background: #FFFFFF;
      border: 1px solid $borderColor;
      box-sizing: border-box;
      box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04), 0px 20px 20px rgba(44, 39, 56, 0.04);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 16px 0;
      z-index: 2;
      color: $textColor;

      .item {
        box-sizing: border-box;
        height: 44px;
        padding: 12px;
        color: $textColor
      }

      .itemActive {
        box-sizing: border-box;
        height: 44px;
        background: #EBF4F8;
        padding: 12px;
        color: $textColor
      }
    }

    .hidden {
      display: none;
    }


  }

  .checked {
    @include focus
  }

  label {
    @include label;

  }
}