@import "./src/main";

.checkBoxWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  position: relative;
  cursor: pointer;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  span {
    position: relative;
    left: 36px;
    @include text;
    color: $textColor;
  }

  span:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -38px;
    height: 28px;
    width: 28px;
    border: 1px solid $borderColor;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 4px;
    display: flex;
    justify-content: center;
  }

  input:checked + span:before {
    border: 1px solid $borderColorActive;
    background: url("../../assets/img/Maskmask.png") no-repeat 6px 8px;
    position: absolute;
  }

  a {
    text-decoration: none;
  }

}